<template>
  <div>
    <h1>Hello world!</h1>
    <router-link to="/posts">Посты</router-link>
    <router-link to="/about">О сайте</router-link>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style scoped>

</style>