<template>
  <div class="post-page">
    <h1>Страница с постами</h1>
    <!-- <my-input v-focus v-model="searchQuery" placeholder="Поиск..." /> -->
    <div class="app__btns">
      <my-button class="btn-show" @click="showDialog">
        Создать пост
      </my-button>
      <!-- <my-select v-model="selectedSort" :options="sortOptions" /> -->
    </div>

    <my-dialog v-model:show="dialogVisible">
      <post-form @create="createPost" />
    </my-dialog>
    <post-list
      v-if="!isPostsLoading"
      @remove="removePost"
      :posts="sortedAndSearchedPosts"
    />
    <div v-else>Идет загрузка...</div>
    <div v-intersection="loadMorePosts" class="observer"></div>
    -->
    <!-- <div class="page__wrapper">
      <div
        class="page"
        :key="pageNumber"
        v-for="pageNumber in totalPages"
        :class="{ 'current-page': page === pageNumber }"
        @click="changePage(pageNumber)"
      >
        {{ pageNumber }}
      </div>
    </div> -->
  </div>
</template>

<script>
import PostForm from '@/components/PostForm';
import PostList from '@/components/PostList';
import { mapGetters, mapState, mapActions, mapMutations } from 'vuex';
import axios from 'axios';

export default {
  components: {
    PostForm,
    PostList,
  },
  data() {
    return {
      dialogVisible: false,
    };
  },
  methods: {
    ...mapMutations({
      setPage: 'post/setPage',
    }),
    ...mapActions({
      loadMorePosts: 'post/loadMorePosts',
      fetchPosts: 'posts/fetchPosts',
    }),
    createPost(post) {
      this.posts.push(post);
      this.dialogVisible = false;
    },
    removePost(post) {
      this.posts = this.posts.filter(p => p.id !== post.id);
    },
    showDialog() {
      this.dialogVisible = true;
    },
    // changePage(pageNumber) {
    //   this.page = pageNumber;
    //   this.fetchPosts();
    // },
  },
  mounted() {
    // this.fetchPosts();
  },
  computed: {
    ...mapState({
    posts: () => state.post.posts,
    isPostsLoading: () => state.post.isPostsLoading,
    selectedSort: () => state.post.selectedSort,
    searchQuery: () => state.post.searchQuery,
    page: () => state.post.page,
    limit: () => state.post.limit,
    totalPage: () => state.post.totalPage,
    sortOptions: () => state.post.sortOptions,
    }),
    ...mapGetters({
      sortedPosts: 'post/sortedPosts',
      sortedAndSearchedPosts: 'post/sortedAndSearchedPosts',
    }),
  },
  watch: {
    // page() {
    //   this.fetchPosts();
    // }
  },
};
</script>

<style scoped>
.btn-show {
  margin: 15px 0;
}

.app__btns {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.page__wrapper {
  display: flex;
  margin-top: 15px;
}

.page {
  border: 1px solid black;
  padding: 10px;
}

.current-page {
  border: 2px solid teal;
}

.observer {
  height: 30px;
}
</style>
