<template>
  <form @submit.prevent>
    <h3>Создание поста</h3>
    <my-input
      v-model="post.title"
      type="text"
      v-focus
      placeholder="Название"
    />
    <my-input
      v-model="post.body"
      type="text"
      placeholder="Описание"
    />
    <my-button class="btn post__btn" @click="createPost">Создать</my-button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      post: {
        title: '',
        body: '',
      },
    };
  },
  methods: {
    createPost() {
      this.post.id = Date.now().toString();
      this.$emit('create', this.post);
      this.post = {
        title: '',
        body: '',
      };
    },
  },
};
</script>

<style scoped>

form {
  display: flex;
  flex-direction: column;
}

.post__btn {
  margin-top: 15px;
  align-self: flex-end;
}

.post__btn:hover {
  background-color: lightcyan;
}
</style>
