<template>
  <div class="post">
    <div>
      <div>{{ post.id }}</div>
      <strong>{{ post.title }}</strong> - {{ post.body }}
    </div>
    <div class="post__btn-block">
      <my-button @click="$router.push(`/posts/${post.id}`)" class="post__btn"
        >Открыть</my-button
      >
      <my-button @click="$emit('remove', post)" class="post__btn"
        >Удалить</my-button
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
.post {
  padding: 15px;
  margin-top: 15px;
  border: 2px solid teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__btn:hover {
  background-color: orange;
}

.post__btn-block {
  display: flex;
}
</style>
