<template>
  <button class="btn">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'my-button',
};
</script>

<style scoped>
.btn {
  border: 2px solid teal;
  color: teal;
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:active {
  box-shadow: 1px 1px 2px black;
}
</style>
